@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
body{
    font-family: Grand Hotel;
    font: xx-large;
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 60px;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
h1,h3{
font: lighter;
}
img{
    height: 400px;
    width: 500px;
}
#quizz{
    font-size: xx-large;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
